.container-section {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 120px;
  padding-right: 20px;
  background-color: #edf4fd;
}
.cards-container {
  padding: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: 0px 5px 20px #0001;
}
.dash-cards {
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.4s ease-in-out;
}
.dash-cards:hover {
  transform: scale(1.03);
}
.dash-cards .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dash-cards h3,
h4 {
  font-weight: 500;
}
.dash-cards {
  display: flex;
  justify-content: space-between;
}
.dash-icon {
  font-size: 34px;
}
.gold {
  background-color: blueviolet;
}
.dodge-blue {
  background-color: dodgerblue;
}
.tomato {
  background-color: tomato;
}
.gray {
  background-color: lightseagreen;
}
@media screen and (max-width: 769px) {
  .cards-container {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}
