.sidebar {
  position: fixed;
  top: 73px;
  left: 0;
  bottom: 0;
  border-right: 1px solid rgb(240, 240, 240);
}
.sidebar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px 15px;
}
.sidebar-link:hover {
  cursor: pointer;
  background-color: rgba(56, 98, 167, 0.2);
}
.sidebar-icon {
  font-size: 24px;
  color: var(--heading);
  font-weight: 500;
}
.sidebar-label {
  color: black;
  font-size: 14px;
}
