.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 24px;
  background-color: var(--bgcolor);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(240, 240, 240);
}
.left-section {
  display: flex;
  align-items: center;
}
.left-section h1 {
  font-style: 18px;
  color: var(--heading);
  font-weight: 700;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}
.search-btn {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  border: 1px solid rgb(192, 192, 192);
  font-size: 24px;
  height: 40px;
  padding-top: 4px;
  width: 66px;
  margin-left: -1px;
  margin-right: 10px;
}
.search-bar {
  border: 1px solid rgb(192, 192, 192);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  flex: 1;
  font-size: 16px;
  height: 40px;
  padding-left: 12px;
  width: 0;
}
.search-bar::placeholder {
  font-size: 16px;
}
.newpost-btn {
  align-items: center;
  background-color: var(--yellow);
  border-radius: 2px;
  color: white;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  gap: 5px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  min-width: 128px;
}
.plus-icon {
  font-size: 28px;
  margin-top: 8px;
}
.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  flex-shrink: 0;
}
.icons-container {
  display: flex;
  gap: 20px;
}
.notification-icon,
.email-icon {
  font-size: 24px;
  cursor: pointer;
}
.notification-icon-container,
.messages-icon-container,
.comment-icon-container {
  position: relative;
}
.notifications-counter,
.messages-counter,
.comment-counter {
  position: absolute;
  top: 1px;
  right: -5px;
  background-color: rgb(194, 5, 5);
  color: white;
  font-size: 11px;
  padding: 0 6px;
  border-radius: 10px;
}
.current-user-profile img {
  margin-top: 8px;
  width: 45px;
  background-position: center;
  background-repeat: no-repeat;
  height: 45px;
  border-radius: 50%;
  border: 3px solid var(--yellow);
}

/* ============== Modal ================= */

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.modalContainer {
  width: 700px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.modalContainer .modal-title {
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}
.titleClose-btn {
  display: flex;
  justify-content: flex-end;
}
.titleClose-btn button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  color: crimson;
}
.modalContainer .body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}
.modalContainer .modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer .modal-footer button {
  padding: 10px 24px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#cancelbtn {
  background-color: crimson;
}
.modalContainer .modal-footer button:hover {
  opacity: 0.8;
}
.modal-body > div {
  margin-bottom: 10px;
}
.modal-body input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-size: 14px;
}
/* * * File */
.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
}
.file input {
  width: 100%;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 0.075rem solid #ddd;
  border-radius: 0.25rem;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file-custom:after {
  content: "Choose Picture...";
}
.file-custom:before {
  position: absolute;
  top: -0.075rem;
  right: -0.075rem;
  bottom: -0.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: auto;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0.075rem solid #ddd;
  border-radius: 0 0.25rem 0.25rem 0;
}

/* Focus */
.file input:focus ~ .file-custom {
  box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #0074d9;
}
