.user-section {
  font-size: 14px;
}

.search-form {
  display: flex;
}
.search-form input {
  font-size: 14px;
  padding: 8px;
  height: 36px;
  width: 100%;
  border: 1px solid rgb(192, 192, 192);
  border-bottom-left-radius: var(--radius);
  border-top-left-radius: var(--radius);
}
.search-form button {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  border: 1px solid rgb(192, 192, 192);
  font-size: 22px;
  height: 36px;
  padding-top: 4px;
  width: 66px;
  margin-left: -1px;
  margin-right: 10px;
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.user-search-btn {
  font-size: 14px;
}
.table-container {
  max-width: 780px;
  background-color: #f9fdfe;
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: var(--radius);
  overflow-x: scroll;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 22px;
  margin-top: 0;
  color: var(--heading);
}
.table {
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
}
thead th {
  font-weight: 600;
  color: var(--heading);
}
th {
  padding: 5px;
  font-weight: 400;
}
tbody .list {
  background-color: white;
  box-shadow: 0px 5px 20px #0001;
  transition: 0.3s ease-in-out;
}
tbody .list:hover {
  transform: scale(1.04);
}
tbody .user {
  display: flex;
  align-items: center;
}
tbody .icon {
  width: 34px;
  height: 34px;
  margin: 5px;
  background: #eee;
  border-radius: 50%;
  margin-right: 15px;
}
tbody .name {
  font-weight: 500;
}
tbody .email {
  font-size: 12px;
  color: #666;
}
tbody .role {
  font-weight: 500;
  text-transform: capitalize;
}
tbody .active,
tbody .inactive {
  padding-left: 15px;
  position: relative;
}
tbody .active::before,
tbody .inactive::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 0;
  top: 25%;
  background-color: #079400;
}
tbody .inactive::before {
  background-color: #f00;
}
.action-btn {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  cursor: pointer;
}
.action-btn span {
  display: block;
  width: 3px;
  height: 3px;
  background-color: #222;
  border-radius: 50%;
  margin: 1px;
}
