/* ================ Navigation bar ============= */
.logo {
  font-size: 18px;
  color: var(--heading);
  text-decoration: none;
}
.logo h1 {
  font-weight: 700;
}
.span {
  color: var(--yellow);
}
nav {
  align-items: center;
  background-color: var(--bgcolor);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  padding: 15px 6%;
  top: 0;
  left: 0;
  position: sticky;
  /* position: fixed;
  width: 100%; */
  z-index: 2;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li .tag {
  color: var(--heading);
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

/* #navbar li .tag.active {
  color: var(--yellow);
} */
#navbar li .tag:hover {
  color: var(--yellow);
}

.btn {
  border-radius: var(--radius);
  border: none;
  color: var(--heading);
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  margin-right: 5px;
  padding: 12px 24px;
  transition: 0.3s ease-in-out;
}
.login {
  background-color: var(--yellow);
  color: var(--bgcolor);
}
.btn:hover {
  opacity: 0.8;
}
.signup {
  background-color: var(--bgcolor);
  color: var(--yellow);
  border: 1px solid var(--yellow);
}
#mobile {
  display: none;
}
#mobile i {
  font-size: 18px;
  color: var(--heading);
}
/* =============== Responsiveness for Navigation Bar ================ */
@media screen and (max-width: 769px) {
  #navbar {
    align-items: flex-start;
    background-color: var(--darkblack);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    padding: 40px 0 0 10px;
    position: fixed;
    right: -200px;
    top: 80px;
    transition: 0.3s ease-in-out;
    width: 200px;
    z-index: 2;
  }
  .btn {
    display: none;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li .tag {
    color: var(--bgcolor);
  }
  #navbar li {
    margin-bottom: 20px;
  }
  #mobile {
    display: block;
  }
  #mobile i {
    font-size: 30px;
    cursor: pointer;
  }
}
